<div class="content">
  <div class="container-fluid">

      <button type="submit" class="btn btn-white btn-round btn-just-icon" style="z-index: 1; margin-left: 1%;" (click)="back()">
        <i class="material-icons">chevron_left</i>
      </button>
      <h3 style="padding-left: 2%;">Screens
        <button type="submit" class="btn btn-info btn-round btn-just-icon" style="margin: 0 1%;" (click)="info()">
            <i class="material-icons">priority_high</i>
        </button>
        <button type="submit" class="btn btn-primary btn-round btn-just-icon" style="float: right;" (click)="add()">
          <i class="material-icons">add</i>
        </button>
      </h3>
    

    <div class="row">
      <div class="col-xl-2">
       
      </div>
      <div class="col-xl-8 col-lg-12 col-md-12 col-sm-12">
        <div class="card">
          <div class="card-header card-header-success card-header-icon">
            <div class="card-icon">
              <i class="material-icons"></i>
            </div>
            <h4 class="card-title"><b>Statistics</b></h4>
          </div>
          <div class="card-body">
            <div class="row" style="text-align: center;">
  
              <div class="col-lg-4 col-md-4 col-sm-4">
                <h4 class="card-category" style="color: black;">Total Screens</h4>
                <h2>9</h2><!--{{clientSize}}-->
              </div>
              <div class="col-lg-4 col-md-4 col-sm-4">
                <h4 class="card-category" style="color: black;">Total SmartScreens</h4>
                <h2>1</h2><!--{{locationSize}}-->
              </div>
              <div class="col-lg-4 col-md-4 col-sm-4">
                <h4 class="card-category" style="color: black;">Active SmartScreens</h4>
                <h2>0</h2><!--{{screensSize}}-->
              </div>
  
            </div>
          </div>
          <hr>
          <div class="card-footer">
            <div class="stats" style="margin: auto; font-size: medium;">
              <a href="#" style="text-decoration: underline;">More ></a>
            </div>
          </div>
        </div>
        
      </div>
      <div class="col-xl-3">
        
      </div>
    </div>

    <div class="row">
      <!-- <ng-container *ngFor="let screen of screens;">  -->
      <div class="container-fluid">
        <div class="col-lg-12 col-md-12 col-sm-12">
          <div class="card card-stats">
            <div class="card-header card-header-success card-header-icon">
              <div class="card-icon">
                <i class="material-icons"></i>
              </div>
              <!-- <h4 class="card-title" style="text-align: left;"><b>{{screen.name}}</b></h4> -->
              <h4 class="card-title" style="text-align: left;"><b>Screen A</b></h4>
            </div>
            <br>
            <!-- <div class="card-body ">
              <mat-grid-list class="card" cols="{{screen.columnCount}}" rowHeight="60px" >
                <mat-grid-tile *ngFor="let panel of screen.panels;" [ngStyle]="{'background-color': getColor(panel)}">
                    <p (click)="editRow(panel)">P-{{panel.index.toString()}}</p>
                </mat-grid-tile>
              </mat-grid-list>
            </div> -->
            <div class="card-body ">
              <!-- <button type="submit" class="btn btn-primary btn-round btn-just-icon" style="float: right;" (click)="edit()"> -->
              <button type="submit" class="btn btn-primary btn-round btn-just-icon" style="float: right;">
                <i class="material-icons">edit</i>
              </button>
              <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-3" style="border: black;">
                  <mat-grid-list cols="5" rowHeight="40px">
                    <mat-grid-tile style="background: lightgrey;">1</mat-grid-tile>
                    <mat-grid-tile style="background: lightgrey;">2</mat-grid-tile>
                    <mat-grid-tile style="background: lightgrey;">3</mat-grid-tile>
                    <mat-grid-tile style="background: lightgrey;">4</mat-grid-tile>
                    <mat-grid-tile style="background: lightgrey;">1</mat-grid-tile>
                    <mat-grid-tile style="background: lightgrey;">2</mat-grid-tile>
                    <mat-grid-tile style="background: lightgrey;">3</mat-grid-tile>
                    <mat-grid-tile style="background: lightgrey;">4</mat-grid-tile>
                    <mat-grid-tile style="background: lightgrey;">1</mat-grid-tile>
                    <mat-grid-tile style="background: lightgrey;">2</mat-grid-tile>
                    <mat-grid-tile style="background: lightgrey;">3</mat-grid-tile>
                    <mat-grid-tile style="background: lightgrey;">4</mat-grid-tile>
                    <mat-grid-tile style="background: lightgrey;">1</mat-grid-tile>
                    <mat-grid-tile style="background: lightgrey;">2</mat-grid-tile>
                    <mat-grid-tile style="background: lightgrey;">3</mat-grid-tile>
                    <mat-grid-tile style="background: lightgrey;">4</mat-grid-tile>
                    <mat-grid-tile style="background: lightgrey;">1</mat-grid-tile>
                    <mat-grid-tile style="background: lightgrey;">2</mat-grid-tile>
                    <mat-grid-tile style="background: lightgrey;">3</mat-grid-tile>
                    <mat-grid-tile style="background: lightgrey;">4</mat-grid-tile>
                    <mat-grid-tile style="background: lightgrey;">1</mat-grid-tile>
                    <mat-grid-tile style="background: lightgrey;">2</mat-grid-tile>
                    <mat-grid-tile style="background: lightgrey;">3</mat-grid-tile>
                    <mat-grid-tile style="background: lightgrey;">4</mat-grid-tile>
                    <mat-grid-tile style="background: lightgrey;">1</mat-grid-tile>
                  </mat-grid-list>
                </div>
                <div class="col-lg-9 col-md-9 col-sm-9" style="border: black;">
                  <br><br>
                  <div class="row" style="text-align: center;">
                    <div class="col-4">
                      <h4 class="card-category" style="color: black;">Total Screens</h4>
                      <h2>9</h2><!--{{clientSize}}-->
                    </div>
                    <div class="col-4">
                      <h4 class="card-category" style="color: black;">Total SmartScreens</h4>
                      <h2>1</h2><!--{{locationSize}}-->
                    </div>
                    <div class="col-4">
                      <h4 class="card-category" style="color: black;">Active SmartScreens</h4>
                      <h2>0</h2><!--{{screensSize}}-->
                    </div>
                  </div>
                  <div class="row" style="text-align: center;">
                    <div class="col-12">
                      <!-- <button type="submit" class="btn btn-danger" style="margin: 4%" (click)="delete()">Remove</button> -->
                      <button type="submit" class="btn btn-danger" style="margin: 4%">Remove</button>
                      <button class="btn btn-info" (click)="addCard()">Report</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- <div class="row" *ngIf="addnewCard==true;"> -->
    <div class="row">
      <div class="container-fluid">
        <div class="col-lg-12 col-md-12 col-sm-12">
          <div class="card card-stats">
            <div class="card-header card-header-success card-header-icon">
              <div class="card-icon">
                <i class="material-icons"></i>
              </div>
              <!-- <h4 class="card-title" style="text-align: left;"><b>{{screen.name}}</b></h4> -->
              <h4 class="card-title" style="text-align: left;"><b>Screen A Report</b></h4>
            </div>
            <br>
            <div class="card-body ">
              
              <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-3">
          
                    <mat-form-field appearance="legacy">
                      <mat-label>Select Entries</mat-label>
                      <mat-select [(ngModel)]="selectedItem" (ngModelChange)="searchentity(selectedItem)">
                        <mat-option *ngFor='let in of [].constructor(10) ;let i = index' value="{{i+1}}">{{i+1}}</mat-option>
                      </mat-select>
                    </mat-form-field>
                    
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3" style="border: black;">
              
                  <mat-form-field appearance="legacy">
                    <mat-label>Set Filters</mat-label>
                    <mat-select [(ngModel)]="setItem" (ngModelChange)="setfilter(setItem)">
                      <mat-option *ngFor='let in of setfilters ;'value="{{in}}">{{in}}</mat-option>
                    </mat-select>
                  </mat-form-field>

                </div>
                <div class="col-lg-3 col-md-3 col-sm-3" style="border: black;">
                  <div style="margin: 2%;">
                    <button class="btn btn-info btn-round btn-sm">All</button>
                    <button class="btn btn-info btn-round btn-sm">Faulty</button>
                    <button class="btn btn-info btn-round btn-sm">Active</button>
                  </div>
                  
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3" style="border: black;">
                  <form class="example-form" style="margin: 0 2%;" [formGroup]="bookForm" (ngSubmit)="search()">

                    <div class="form-group">
                      <div class="input-group no-border" style="width: 100%;">
                        <input type="text" value="" class="form-control" placeholder="Search..." formControlName="searchvalue">
                        <button type="submit" class="btn btn-white btn-round btn-just-icon">
                          <i class="material-icons">search</i>
                        </button>
                      </div>
                    </div>
              
                  </form>
                </div>
              </div>

              <hr>
              <div class="row">
                <div class="col-12">
                  <table mat-table [dataSource]="dataSource" matSort style="text-align: left;">
                
                    <!-- ID Column -->
                    <ng-container matColumnDef="sort">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> Sort </th>
                      <td mat-cell *matCellDef="let row"> {{row.sort}} </td>
                    </ng-container>
                    
                    <ng-container matColumnDef="id">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
                      <td mat-cell *matCellDef="let row"> {{row.id}} </td>
                    </ng-container>
                    
                    <ng-container matColumnDef="screen">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> Screen </th>
                      <td mat-cell *matCellDef="let row"> {{row.screen}} </td>
                    </ng-container>
                    
                    <ng-container matColumnDef="installed">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> Installed </th>
                      <td mat-cell *matCellDef="let row"> {{row.installed}} </td>
                    </ng-container>
                    
                    <ng-container matColumnDef="breakdown">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> Breakdown </th>
                      <td mat-cell *matCellDef="let row"> {{row.breakdown}} </td>
                    </ng-container>
                
                    <ng-container matColumnDef="lifespan">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> Life Span </th>
                      <td mat-cell *matCellDef="let row"> {{row.lifespan}} </td>
                    </ng-container>
                
                    <ng-container matColumnDef="status">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
                      <td mat-cell *matCellDef="let row"> {{row.status}} </td>
                    </ng-container>
                
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                
                    <!-- Row shown when there is no matching data. -->
                    <tr class="mat-row" *matNoDataRow>
                      <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
                    </tr>
                  </table>
                
                  <mat-paginator [pageSizeOptions]="[5, 10, 15, 20]" showFirstLastButtons></mat-paginator>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>