<br><br>

<div class="content">
    <div class="container-fluid">

        <h3 style="padding-left: 2%;">Profile</h3>

        <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header card-header-icon card-header-rose">
                    <div class="card-icon">
                        <i class="material-icons">person</i>
                    </div>
                    <h4 class="card-title ">Profile</h4>
                    </div>
                    <div class="card-body">
                        <div class="row" style="padding: 4%;">
                            <div class="col-4">
                                <div *ngIf="filePath && filePath !== ''">
                                    <img mat-card-avatar class="avatar" [src]="filePath" [alt]="myForm.value.name">
                                  </div>
                                <br>
                                <ul style="text-align: center;">  
                                    <li *ngFor="let file of files">  
                                        <mat-progress-bar [value]="file.progress"></mat-progress-bar>  
                                        <span id="file-label">  
                                            
                                        </span> 
                                        <p>{{file.data.name}}</p> 
                                    </li>  
                                </ul>  
                                <button class="btn btn-secondary" (click)="onClick()" style="margin: 10% 10% 0;">  
                                    <i class="material-icons">upload</i>  
                                    Change Photo
                                </button>
                                <input type="file" (change)="imagePreview($event)" #fileUpload id="fileUpload" name="fileUpload" accept="image/*" style="display:none;" /> 
                            </div>
                            <div class="col-8">
                                <p style="border-bottom: 1px solid lightgray; width: 35%;">{{name}}
                                    <button type="submit" class="btn btn-sm btn-info btn-round btn-just-icon" style="margin-left: 100px;" (click)="editName(name)">
                                        <i class="material-icons">edit</i>
                                    </button>
                                </p>
                                <p style="border-bottom: 1px solid lightgray; width: 45%;">{{email}}
                                    <button type="submit" class="btn btn-sm btn-info btn-round btn-just-icon" style="margin-left: 20%;" (click)="editEmail(email)">
                                        <i class="material-icons">edit</i>
                                    </button>
                                </p>
                                <p style="border-bottom: 1px solid lightgray; width: 35%;">{{phone}}
                                    <button type="submit" class="btn btn-sm btn-info btn-round btn-just-icon" style="margin-left: 35%;" (click)="editPhone(phone)">
                                        <i class="material-icons">edit</i>
                                    </button>
                                </p>

                                <a class="btn btn-secondary" style="cursor: pointer;" (click)="more()">Change Password</a>
                                <form *ngIf="collapsed" class="example-form" style="margin: 2%;" [formGroup]="bookForm" (ngSubmit)="changePass()">

                                    <div class="form-group">
                                      <mat-form-field appearance="legacy" style="width:45% !important">
                                          <mat-label>Old Password</mat-label>
                                          <input matInput placeholder="Old Password" formControlName="old" required>
                                      </mat-form-field>
                                    </div>
                                    <div class="form-group">
                                        <mat-form-field appearance="legacy" style="width:45% !important">
                                            <mat-label>New Password</mat-label>
                                            <input matInput placeholder="New Password" formControlName="password" required>
                                        </mat-form-field>
                                    </div>
                                    <div class="form-group">
                                        <mat-form-field appearance="legacy" style="width:45% !important">
                                            <mat-label>Re-enter New Password</mat-label>
                                            <input matInput placeholder="Re-enter New Password" formControlName="confirm" required>
                                        </mat-form-field>
                                    </div>
                                    <div class="form-group">
                                        <button mat-raised-button class="btn btn-sm btn-info" type="submit">Confirm</button>
                                    
                                        <button mat-raised-button class="btn btn-sm btn-info" type="submit" (click)="cancel()" style="margin-left: 2%;">Cancel</button>
                                    </div>
                                      
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- <div style="text-align:center; margin-top: 100px; ">
    <mat-card style="margin-top:10px; width: 50%;">  
        <mat-card-content>  
            <ul>  
                <li *ngFor="let file of files">  
                    <mat-progress-bar [value]="file.progress"></mat-progress-bar>  
                    <span id="file-label">  
                        
                    </span> 
                    <p>{{file.data.name}}</p> 
                </li>  
            </ul>  
        </mat-card-content>  
        <mat-card-actions>  
            <button mat-button color="warn" (click)="onClick()">  
                <mat-icon>file_upload</mat-icon>  
                Upload  
            </button>  
        </mat-card-actions>  
    </mat-card>
    <input type="file" #fileUpload id="fileUpload" name="fileUpload" multiple="multiple" accept="image/*" style="display:none;" />
</div> -->
<!-- 
<form [formGroup]="myForm" (ngSubmit)="submit()">

    <div *ngIf="filePath && filePath !== ''">
      <img mat-card-avatar class="avatar" [src]="filePath" [alt]="myForm.value.name">
    </div>
  
    <input type="file" accept="image/*" (change)="imagePreview($event)" />
  
    <input formControlName="filename" placeholder="File name">
  
    <button type="submit">Upload</button>
  </form> -->