<br><br>
<div class="content">
    <div class="container-fluid">

        <h3 style="padding-left: 2%;">Profile</h3>

        <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header card-header-icon card-header-rose">
                    <div class="card-icon">
                        <i class="material-icons">person</i>
                    </div>
                    <h4 class="card-title ">Profile</h4>
                    </div>
                    <div class="card-body">
                        <div class="row" style="padding: 4%;">
                            <div class="col-4">
                                <div>
                                    <img mat-card-avatar class="avatar" src="https://www.w3schools.com/w3images/avatar_hat.jpg" alt="User Avatar">
                                </div>
                                <div style="margin: 15% 15% 0;">
                                    <a class="btn btn-secondary" style="cursor: pointer;">Change Photo</a>
                                </div>
                            </div>
                            <div class="col-8">
                                <p style="border-bottom: 1px solid lightgray; width: 25%;">Pooja Das
                                    <button type="submit" class="btn btn-sm btn-info btn-round btn-just-icon" style="margin-left: 35%;">
                                        <i class="material-icons">edit</i>
                                    </button>
                                </p>
                                <p style="border-bottom: 1px solid lightgray; width: 40%;">poojadas04kv@gmail.com
                                    <button type="submit" class="btn btn-sm btn-info btn-round btn-just-icon" style="margin-left: 20%;">
                                        <i class="material-icons">edit</i>
                                    </button>
                                </p>
                                <p style="border-bottom: 1px solid lightgray; width: 35%;">+91-6370677192
                                    <button type="submit" class="btn btn-sm btn-info btn-round btn-just-icon" style="margin-left: 35%;">
                                        <i class="material-icons">edit</i>
                                    </button>
                                </p>

                                <a class="btn btn-secondary" style="cursor: pointer;" (click)="more()">Change Password</a>
                                <form *ngIf="collapsed" class="example-form" style="margin: 2%;" [formGroup]="bookForm" (ngSubmit)="addCountry()">

                                    <div class="form-group">
                                      <mat-form-field appearance="legacy" style="width:45% !important">
                                          <mat-label>Old Password</mat-label>
                                          <input matInput placeholder="Old Password" formControlName="old" required>
                                      </mat-form-field>
                                    </div>
                                    <div class="form-group">
                                        <mat-form-field appearance="legacy" style="width:45% !important">
                                            <mat-label>New Password</mat-label>
                                            <input matInput placeholder="New Password" formControlName="new" required>
                                        </mat-form-field>
                                    </div>
                                    <div class="form-group">
                                        <mat-form-field appearance="legacy" style="width:45% !important">
                                            <mat-label>Re-enter New Password</mat-label>
                                            <input matInput placeholder="Re-enter New Password" formControlName="confirm" required>
                                        </mat-form-field>
                                    </div>
                                    <div class="form-group">
                                      <button mat-raised-button class="btn btn-sm btn-info" type="submit">Confirm</button>
                                    </div>
                                      
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

