<br><br><br><br>

<mat-card-content>

    <h2 style="padding: 0 3%;">Locations</h2>

    <button type="submit" class="btn btn-primary btn-round btn-just-icon" style="float: right; margin-right: 2%;">
        <i class="material-icons">add</i>
        <div class="ripple-container"></div>
    </button>
    <br>

    <form class="example-form" style="margin: 0 2%;">
        <form class="navbar-form">
            <div class="input-group no-border" style="width: 20%;">
                <input type="text" value="" class="form-control" placeholder="Search..." [(ngModel)]="searchvalue" name="searchvalue">
                <button type="submit" class="btn btn-white btn-round btn-just-icon" (click)="search(searchvalue)">
                <i class="material-icons">search</i>
                <div class="ripple-container"></div>
                </button>
            </div>
        </form>
    </form>
    
</mat-card-content>

<div class="content">
    <div class="container-fluid">

        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header card-header-icon card-header-rose">
                <div class="card-icon">
                  <i class="material-icons">assignment</i>
                </div>
                <h4 class="card-title ">Locations</h4>
              </div>
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table">
                    <thead class=" text-primary">
                        <th>Sort</th>
                        <th>Name</th>
                        <th>Country</th>
                        <th>Created On</th>
                        <th>Updated On</th>
                        <th>Enable</th>
                        <th>Action</th>
                    </thead>
                    <tbody>
                        <tr *ngFor="let region of regions; let i = index">
                            <td>{{ i+1 }}</td>
                            <td>{{region.name}}</td>
                            <td>{{region.countryName}}</td>
                            <td>{{region.createdAt}}</td>
                            <td>{{region.updatedAt}}</td>
                            <td><input type="checkbox"></td>
                            <td>
                                <a (click)="editRow(region)">
                                    <span class="material-icons" style="color: green;">create</span>
                                </a> 
                                <a (click)="deleteRow(region)">
                                    <span class="material-icons" style="color: red;">delete_outline</span>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
</div>
