<div class="content">
  <div class="container-fluid">

      <button type="submit" class="btn  btn-sm btn-white btn-round btn-just-icon" style="z-index: 1; margin-left: 1%;" (click)="back()">
        <i class="material-icons">chevron_left</i>
      </button>
      <h3 style="padding-left: 2%;">Clients
        <button type="submit" class="btn  btn-sm btn-info btn-round btn-just-icon" style="margin: 0 1%;" (click)="info()">
            <i class="material-icons">priority_high</i>
        </button>
        <button type="submit" class="btn btn-primary btn-round btn-just-icon" style="float: right;" (click)="add()">
          <i class="material-icons">add</i>
        </button>
      </h3>
    

    <div class="row">
      <div class="col-xl-2">
       
      </div>
      <div class="col-xl-8 col-lg-12 col-md-12 col-sm-12">
        <div class="card">
          <div class="card-header card-header-success card-header-icon">
            <div class="card-icon">
              <i class="material-icons"></i>
            </div>
            <h4 class="card-title"><b>Statistics</b></h4>
          </div>
          <div class="card-body">
            <div class="row" style="text-align: center;">
  
              <div class="col-lg-4 col-md-4 col-sm-4">
                <h4 class="card-category" style="color: black;">Total Clients</h4>
                <h2>9</h2><!--{{clientSize}}-->
              </div>
              <div class="col-lg-4 col-md-4 col-sm-4">
                <h4 class="card-category" style="color: black;">Total SmartScreens</h4>
                <h2>1</h2><!--{{locationSize}}-->
              </div>
              <div class="col-lg-4 col-md-4 col-sm-4">
                <h4 class="card-category" style="color: black;">Active SmartScreens</h4>
                <h2>0</h2><!--{{screensSize}}-->
              </div>
            </div>
            
              <div class="row" style="text-align: center;" *ngIf="collapsed">
  
                <div class="col-lg-4 col-md-4 col-sm-4">
                  <h4 class="card-category" style="color: black;">Avg LifeSpan</h4>
                  <h2>44 d</h2><!--{{clientSize}}-->
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4">
                  <h4 class="card-category" style="color: black;">Latest Installation</h4>
                  <h2>2021-05-29</h2><!--{{locationSize}}-->
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4">
                  <h4 class="card-category" style="color: black;">Latest Breakdown</h4>
                  <h2>2021-07-29</h2><!--{{screensSize}}-->
                </div>
    
              </div>
            </div>
            <hr>
            <div class="card-footer">
              <div class="stats" style="margin: auto; font-size: medium;">
                <a style="text-decoration: underline; cursor: pointer;" (click)="more()">More ></a>
              </div>
            </div>
          </div>
        
      </div>
      <div class="col-xl-3">
        
      </div>
    </div>
    
    <div class="row">
      <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header card-header-success card-header-icon">
            <div class="card-icon">
              <i class="material-icons">check</i>
            </div>
            <p class="card-category" style="color: black;">Departments : 5</p>
            <h3 class="card-title" style="color: black;">Client 1</h3>
            <br>
            <h6 style="color: green;">All OK</h6>
          </div>
          <div class="card-footer">
          </div>
          <mat-tree [dataSource]="dataSource" [treeControl]="treeControl" style="margin: auto;">
            <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
              <button class="btn btn-secondary" disabled></button>
              {{node.name}}
            </mat-tree-node>
            <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding>
              <button class="btn btn-link btn-primary" matTreeNodeToggle
                      [attr.aria-label]="'Toggle ' + node.name">
                      {{node.name}}
                <span class="btn-label btn-label-right">
                  <i class="material-icons" [innerText]="treeControl.isExpanded(node) ? 'expand_less' : 'chevron_right'"></i>
                </span>
              </button>
            </mat-tree-node>
          </mat-tree>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header card-header-danger card-header-icon">
            <div class="card-icon">
              <i class="material-icons">clear</i>
            </div>
            <p class="card-category" style="color: black;">Departments : 3</p>
            <h3 class="card-title" style="color: black;">Client 2</h3>
            <br>
            <h6 style="color: red;">Panel Defective</h6>
          </div>
          <div class="card-footer">
          </div>
          <mat-tree [dataSource]="dataSource1" [treeControl]="treeControl1" style="margin: auto;">
            <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
              <button class="btn btn-secondary" disabled></button>
              {{node.name}}
            </mat-tree-node>
            <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding>
              <button class="btn btn-link btn-primary" matTreeNodeToggle
                      [attr.aria-label]="'Toggle ' + node.name">
                      {{node.name}}
                <span class="btn-label btn-label-right">
                  <i class="material-icons" [innerText]="treeControl1.isExpanded(node) ? 'expand_less' : 'chevron_right'"></i>
                </span>
              </button>
            </mat-tree-node>
          </mat-tree>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header card-header-warning card-header-icon">
            <div class="card-icon">
              <i class="material-icons">priority_high</i>
            </div>
            <p class="card-category" style="color: black;">Departments : 2</p>
            <h3 class="card-title" style="color: black;">Client 3</h3>
            <br>
            <h6 style="color: orange;">Panel Idle</h6>
          </div>
          <div class="card-footer">
          </div>
          <mat-tree [dataSource]="dataSource2" [treeControl]="treeControl2" style="margin: auto;">
            <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
              <button class="btn btn-secondary" disabled></button>
              {{node.name}}
            </mat-tree-node>
            <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding>
              <button class="btn btn-link btn-primary" matTreeNodeToggle
                      [attr.aria-label]="'Toggle ' + node.name">
                      {{node.name}}
                <span class="btn-label btn-label-right">
                  <i class="material-icons" [innerText]="treeControl2.isExpanded(node) ? 'expand_less' : 'chevron_right'"></i>
                </span>
              </button>
            </mat-tree-node>
          </mat-tree>
        </div>
      </div>
  </div>
</div>