<div class="container">
    <h4><b>{{dialogTitle}}</b></h4>
    
    <form class="example-form" style="margin: 2%;" [formGroup]="bookForm" (ngSubmit)="addScreen()">
        
        <div class="form-group">
            <mat-form-field appearance="legacy" style="width:90% !important">
                <mat-label>Choose Department...</mat-label>
                <mat-select formControlName="deptName">
                    <mat-option *ngFor="let dept of departments;" value="{{dept.name}}">{{dept.name}}</mat-option>
                  </mat-select>
            </mat-form-field>
        </div>
        <div class="form-group">
            <mat-form-field appearance="legacy" style="width:90% !important">
                <mat-label>Screen Name</mat-label>
                <input matInput placeholder="Screen Name" formControlName="name" required>
                <mat-icon matSuffix>place</mat-icon>
            </mat-form-field>
        </div>
        <div class="form-group">
            <mat-form-field appearance="legacy" style="width:45% !important; padding-right: 2%;">
                <mat-label>Rows</mat-label>
                <input matInput placeholder="Rows" formControlName="rows" required>
                <mat-icon matSuffix>insert_chart</mat-icon>
            </mat-form-field>
            <mat-form-field appearance="legacy" style="width:45% !important">
                <mat-label>Columns</mat-label>
                <input matInput placeholder="Columns" formControlName="columns" required>
                <mat-icon matSuffix>insert_chart</mat-icon>
            </mat-form-field>
        </div>
        <div class="form-group">
            <button mat-raised-button color="primary" style="width:90% !important" type="submit">{{dialogTitle}}</button>
        </div>
    </form>    
</div>