<div class="container">
    <h4><b>{{dialogTitle}}</b></h4>
    <br>
    <form class="example-form" style="margin: 2%;" [formGroup]="bookForm" (ngSubmit)="forgotPass()">

        <div class="form-group">
          <mat-form-field appearance="legacy" style="width:90% !important">
              <mat-label>Enter your Email</mat-label>
              <input matInput placeholder="Enter your Email" formControlName="email" required>
              <mat-icon matSuffix>mail</mat-icon>
          </mat-form-field>
        </div>

        <div class="form-group">
          <button mat-raised-button color="primary" style="width:90% !important" type="submit">{{dialogTitle}}</button>
        </div>
          
    </form>    
</div>