<mat-card class="example-card" style="width: 40%; margin: auto; top: 10%; height: auto;">
    <h1 style="text-align: center;">SignIn / SignUp</h1>
    <mat-tab-group animationDuration="0ms" mat-align-tabs="center" mat-stretch-tabs>
        <mat-tab label="Sign In" style="margin: 2%;">
            <form class="example-form" style="margin: 5%;">
                <mat-form-field appearance="legacy" style="width:100% !important">
                    <mat-label>Email</mat-label>
                    <input matInput placeholder="Username" [(ngModel)]="username" name="username" required>
                    <mat-icon matSuffix>mail</mat-icon>
                </mat-form-field>
                <br><br>
                <mat-form-field appearance="legacy" style="width:100% !important">
                    <mat-label>Password</mat-label>
                    <input matInput placeholder="Password" [(ngModel)]="password"type="password" name="password" required>
                    <mat-icon matSuffix>lock</mat-icon>
                </mat-form-field>
                <mat-checkbox>Remember me!</mat-checkbox>
                <br><br>
                <button mat-raised-button (click)="login()" color="primary" style="width:100% !important">Login</button>
                <br><br>
                <button mat-raised-button (click)="login()" style="width:100% !important">Login With Google</button>
            </form>
        </mat-tab>
        <mat-tab label="Sign Up">
            <form class="example-form" style="margin: 5%;">
                <mat-form-field appearance="legacy" style="width:100% !important">
                    <mat-label>Email</mat-label>
                    <input matInput placeholder="Username" [(ngModel)]="username" name="username" required>
                    <mat-icon matSuffix>mail</mat-icon>
                </mat-form-field>
                <br><br>
                <mat-form-field appearance="legacy" style="width:100% !important">
                    <mat-label>Password</mat-label>
                    <input matInput placeholder="Password" [(ngModel)]="password"type="password" name="password" required>
                    <mat-icon matSuffix>lock</mat-icon>
                </mat-form-field>
                <mat-form-field appearance="legacy" style="width:100% !important">
                    <mat-label>Confirm Password</mat-label>
                    <input matInput placeholder="Password" [(ngModel)]="password"type="password" name="password" required>
                    <mat-icon matSuffix>lock</mat-icon>
                </mat-form-field>
                <br><br>
                <button mat-raised-button (click)="login()" color="primary" style="width:100% !important">SignUp</button>
            </form>
        </mat-tab>
    </mat-tab-group>
</mat-card> 
 