<mat-card class="example-card" style="width: 40%; margin: auto; top: 8%; height: auto;">
    <br>
    <h1 style="text-align: center;"><b>SignIn / SignUp</b></h1>
    <br>
    <mat-tab-group animationDuration="0ms" mat-align-tabs="center" mat-stretch-tabs>
        <mat-tab label="Sign In" style="margin: 2%;">
            <form class="example-form" style="margin: 5%;" [formGroup]="loginForm" (ngSubmit)="login()">
                
                <div class="form-group">
                    <mat-form-field appearance="legacy" style="width:100% !important">
                        <mat-label>Email</mat-label>
                        <input matInput type="text" placeholder="Email" formControlName="email" required>
                        <mat-icon matSuffix>mail</mat-icon>
                    </mat-form-field>
                </div>
                
                <div class="form-group">
                    <mat-form-field appearance="legacy" style="width:100% !important">
                        <mat-label>Password</mat-label>
                        <input matInput placeholder="Password" formControlName="password" [type]="hide ? 'password' : 'text'" required>
                        <mat-icon matSuffix style="cursor: pointer;" (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </mat-form-field>
                </div>

                <div class="form-group">
                    <button mat-raised-button color="primary" style="width:100% !important">Login</button>
                </div>

                <div class="form-group">
                    <button mat-raised-button (click)="loginWithGoogle()" style="width:100% !important">Login With Google</button>
                </div>
                
            </form>

            <h6 style="padding-left: 8%; cursor: pointer; color: blue;" (click)="forgot()">Forgot Password ?</h6>
        </mat-tab>
        <mat-tab label="Sign Up">
            <form class="example-form" style="margin: 5%;" [formGroup]="signupForm" (ngSubmit)="signup()">
                
                <div class="form-group">
                    <mat-form-field appearance="legacy" style="width:100% !important">
                        <mat-label>Email</mat-label>
                        <input matInput placeholder="Email" formControlName="email" type="text" required>
                        <mat-icon matSuffix>mail</mat-icon>
                    </mat-form-field>
                </div>

                <div class="form-group">
                    <mat-form-field appearance="legacy" style="width:100% !important">
                        <mat-label>Password</mat-label>
                        <input matInput placeholder="Password" formControlName="password" [type]="hide1 ? 'password' : 'text'" required>
                        <mat-icon matSuffix style="cursor: pointer;" (click)="hide1 = !hide1">{{hide1 ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </mat-form-field>
                </div>

                <div class="form-group">
                    <mat-form-field appearance="legacy" style="width:100% !important">
                        <mat-label>Confirm Password</mat-label>
                        <input matInput placeholder="Password" formControlName="confirmPass" [type]="hide2 ? 'password' : 'text'"  name="password" required>
                        <mat-icon matSuffix style="cursor: pointer;" (click)="hide2 = !hide2">{{hide2 ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </mat-form-field>
                </div>
                <div class="form-group">
                    <button mat-raised-button color="primary" style="width:100% !important">SignUp</button>
                </div>

            </form>
        </mat-tab>
    </mat-tab-group>
    <br>
</mat-card> 
 